h1 {
    font-size: 60px;
    padding: 30px;
}

body {
    background-image: url(http://itsdroolworthy.com/wp-content/uploads/2015/09/yoyomats_press_11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: saddlebrown;
}

.findworkout {
    padding: 20px;
    margin-bottom: 60px;
}

.question {
    font-size: 16px;
}

.name {
    font-size: 25px;
}

.picture {
    font-size: 25px;
}

.numbers {
    font-size: 20px;
}

.submitbtn {
    margin: 50px;
}

.workoutlink {
    margin: 25px;
    font-size: 20px;
}

.repolink {
    margin: 20px;
    font-size: 20px;
}